.card-list{
    height: 23rem;
    width: 16rem;
    background-color: aqua;
    border-radius: 15px;
    /* border: 2px solid white; */
    box-shadow: 2px 6px 6px cadetblue,-2px -6px 6px cadetblue;
    position: relative;
}

.heading-card-list{
    /* height: 4rem; */
    padding-top: 1.5rem;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.footer-card-list{
    position: absolute;
    bottom: 7px;
    right: 10px;
}

.add-button-card-list{
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: aqua;
    outline: none;
    border: 0px;
}

.popup-add-task{
    background-color: aqua;
    height: 11rem;
    width: 22rem;
    border-radius: 1rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    z-index: 1;
    border: 3px solid blue;
    display: none;
}

.blur-effect-task{
    filter: blur(4px);
    opacity: 0.8px;
}

.task-row{
    display: flex;
    justify-content: space-between;
}

.task-name{
    padding-right: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.mark-done{
    background-color: blue;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
}
.mark-done:hover{
    background-color: cornflowerblue;
}